article {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

section, #player{
    flex-grow: 1;
}
  
footer, #controls{
    background-color: white;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img, #controlsButton{
    height: 60px;
    justify-content: center;
    align-items: center; 
}