article {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

section, #player{
    flex-grow: 1;
}
  
footer, #controls{
    background-color: white;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

img, #controlsButton{
    height: 60px;
    justify-content: center;
    align-items: center; 
}

div, #gif {  
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
}